body{
  background-color:#EAF6F6;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 5%;
  border-color: #5aceca;

}
h1{
  color:#00AF91;
}
h3{
  color:#00A19D;
}
